<% for post in @posts %>
  <span class="italic"><%=h post.title %></span>
  <br />
  <br />
  <%= if post.content.length > 140 then post.content.slice(0..139).concat("…") else post.content end %>
  <br />
  <span class="mute">
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </span>
  <br />
  <br />
  <br />
<% end %>

<%= link_to 'New', new_post_path %>
