<% for post in @posts %>
  <span class="italic"><%=h post.title %></span>
  <br />
  <%=h post.content %>
  <br />
  <span class="mute">
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </span>
  <br />
  <br />
<% end %>

<br />

<%= link_to 'New post', new_post_path %>
